### For Titanic dataset, do Pyspark to get the same result as we got with Pandas. Ignore the visualization parts.

In [3]:
from pyspark import SparkContext
sc = SparkContext()
from pyspark.sql import SparkSession
from pyspark.mllib.regression import LabeledPoint
# from pyspark.mllib.regression import LinearRegressionWithSGD as lrSGD

spark = SparkSession \
    .builder \
    .appName("HW3: Analyzing Titanic Dataset with Pyspark") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

df = spark.read.csv('titanic.csv',header=True, inferSchema = True)

In [4]:
df.head()

Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S')

In [5]:
# name of columns

df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [6]:
# Number of passengers

df.count()

891

In [19]:
# Show the. top 5

df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [7]:
df.select('PassengerID', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked').show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerID|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [36]:
# Number of Survivors

df.filter(df['Survived'] == 1).count()

342

In [34]:
# Numbrt of people embarked at 'C'

df.filter(df['Embarked'] == 'C').count()

168

In [37]:
df.filter(df['Sex'] == 'female').count()

314

In [38]:
df.filter(df['Sex'] == 'male').count()

577

In [44]:
# Average Age
# https://www.datasciencemadesimple.com/mean-variance-and-standard-deviation-of-column-in-pyspark/

df.agg({'Age': 'mean'}).show()

+-----------------+
|         avg(Age)|
+-----------------+
|29.69911764705882|
+-----------------+

In [39]:
df.agg({'Age': 'min'}).show()

+--------+
|min(Age)|
+--------+
|    0.42|
+--------+

In [40]:
df.agg({'Age': 'max'}).show()

+--------+
|max(Age)|
+--------+
|    80.0|
+--------+

In [47]:
# https://www.datasciencemadesimple.com/groupby-functions-in-pyspark-aggregate-functions-groupby-count-groupby-sum-groupby-mean-groupby-min-and-groupby-max/

df.groupBy('Embarked').count().show()

+--------+-----+
|Embarked|count|
+--------+-----+
|       Q|   77|
|    null|    2|
|       C|  168|
|       S|  644|
+--------+-----+

In [46]:
df.groupBy('Pclass').count().show()

+------+-----+
|Pclass|count|
+------+-----+
|     1|  216|
|     3|  491|
|     2|  184|
+------+-----+

In [48]:
df.groupBy('Sex', 'Pclass').agg({'Age': 'count'}).show()

+------+------+----------+
|   Sex|Pclass|count(Age)|
+------+------+----------+
|  male|     3|       253|
|female|     3|       102|
|female|     1|        85|
|female|     2|        74|
|  male|     2|        99|
|  male|     1|       101|
+------+------+----------+

In [49]:
df.groupBy('Sex', 'Pclass').agg({'Age': 'mean'}).show()

+------+------+------------------+
|   Sex|Pclass|          avg(Age)|
+------+------+------------------+
|  male|     3|26.507588932806325|
|female|     3|             21.75|
|female|     1| 34.61176470588235|
|female|     2|28.722972972972972|
|  male|     2| 30.74070707070707|
|  male|     1| 41.28138613861386|
+------+------+------------------+

In [51]:
df.groupBy('Sex', 'Pclass').agg({'Age': 'max'}).show()

+------+------+--------+
|   Sex|Pclass|max(Age)|
+------+------+--------+
|  male|     3|    74.0|
|female|     3|    63.0|
|female|     1|    63.0|
|female|     2|    57.0|
|  male|     2|    70.0|
|  male|     1|    80.0|
+------+------+--------+

In [59]:
df.groupBy('Sex', 'Pclass').agg({'Fare': 'max'}).show()

+------+------+---------+
|   Sex|Pclass|max(Fare)|
+------+------+---------+
|  male|     3|    69.55|
|female|     3|    69.55|
|female|     1| 512.3292|
|female|     2|     65.0|
|  male|     2|     73.5|
|  male|     1| 512.3292|
+------+------+---------+

In [62]:
df.groupBy('Sex', 'Embarked').agg({'Fare': 'max'}).show()

+------+--------+---------+
|   Sex|Embarked|max(Fare)|
+------+--------+---------+
|  male|       C| 512.3292|
|  male|       S|    263.0|
|female|       Q|     90.0|
|female|    null|     80.0|
|female|       S|    263.0|
|  male|       Q|     90.0|
|female|       C| 512.3292|
+------+--------+---------+

In [60]:
df.groupBy('Sex', 'Pclass').agg({'Fare': 'mean'}).show()

+------+------+------------------+
|   Sex|Pclass|         avg(Fare)|
+------+------+------------------+
|  male|     3|12.661632564841513|
|female|     3|16.118809722222224|
|female|     1|106.12579787234041|
|female|     2| 21.97012105263158|
|  male|     2| 19.74178240740741|
|  male|     1| 67.22612704918033|
+------+------+------------------+